.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.footer {
  background-color: #ffccd5;
  color: #8ecae6;
  font-family: 'Pacifico', cursive;
  text-align: center;
}

.footer-content {
  margin: 0 auto;
  padding: 30px;
  background-color: #fffecd;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer-text {
  font-size: 20px;
}

.footer-text a {
  color:#db788a;
  text-decoration: none;
}

.social-icons a {
  color: #8ecae6;
  font-size: 25px;
  text-decoration: none;
  transition: color 0.3s ease;
  margin: 0 10px;
}

.social-icons a:hover {
  color: #6daecf;
}

.footer-unicorn {
  display: flex;
  flex-direction: column;
}

.footer-unicorn img {
  width: 60px;
  height: auto;
}
