body {
  margin: 0;
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to left, #FF9A9E, #FAD0C4, #AEDBF0);
  padding: 10px 20px;
  padding-top: 0px;
  color: white;
}
.navbar .logo img {
  height: 40px;
}
.navbar .right-section {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar .tabs {
  display: flex;
  gap: 20px;
}
.navbar .tabs a {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  transition: background-color 0.3s, color 0.3s;
  font-size: 26px;
}
.navbar .tabs a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}
.navbar .menu-button {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.navbar .menu-button .hamburger {
  width: 30px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.navbar .menu-button .hamburger div {
  width: 100%;
  height: 3px;
  margin-left: -10px;
  background-color: white;
}
.navbar .menu-button .profile-pic img {
  height: 30px;
  border-radius: 50%;
}
.banner {
  background-color: #EAF0EB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px; /* Height of the banner */
  text-align: center;
}
.banner-text {
  color: #FF9A9E; /* Pastel blue text color */
  font-size: 80px;
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;/* Large text size */
}
.search-input {
  padding: 10px;
  border: 2px solid #8ECAE6; /* Border color matching the text */
  border-radius: 20px;
  margin-top: 30px;/* Rounded corners */
  font-size: 1em;
  outline: none;
}
.search-button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px; /* Rounded corners */
  background-color: #8ECAE6; /* Button background color matching the text */
  color: white;
  font-size: 1em;
  cursor: pointer;
  font-family: 'Pacifico', cursive; /* Consistent font with the banner text */
}
.search-button:hover {
  background-color: #6DAECF; /* Darker shade for hover effect */
}
