body {
  background-color: #eaf0eb;
  margin: 0;
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  min-height: 100vh;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to left, #ff9a9e, #fad0c4, #aedbf0);
  padding: 10px 20px;
  padding-top: 0px;
  color: white;
}
.navbar .logo img {
  height: 40px;
}
.navbar .right-section {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar .tabs {
  display: flex;
  gap: 20px;
}
.navbar .tabs a {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  transition:
    background-color 0.3s,
    color 0.3s;
  font-size: 26px;
}
.navbar .tabs a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}
.navbar .menu-button {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.navbar .menu-button .hamburger {
  width: 30px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.navbar .menu-button .hamburger div {
  width: 100%;
  height: 3px;
  margin-left: -10px;
  background-color: white;
}
.navbar .menu-button .profile-pic img {
  height: 30px;
  border-radius: 50%;
}

.uniqorn-pic {
  height: 135px;
}

.banner {
  background-color: #eaf0eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px; /* Height of the banner */
  text-align: center;
}
.banner-text {
  color: #ff9a9e; /* Pastel blue text color */
  font-size: 75px;
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal; /* Large text size */
}
.search-input {
  font-family: "Comfortaa";
  padding: 10px;
  border: 2px solid #8ecae6; /* Border color matching the text */
  border-radius: 20px;

  margin-top: 30px;/* Rounded corners */
  font-size: 0.9em;

  outline: none;
  width: 200px;
}

.search-button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px; /* Rounded corners */
  background-color: #8ecae6; /* Button background color matching the text */
  color: white;
  font-size: 1em;
  cursor: pointer;
  font-family: "Pacifico", cursive; /* Consistent font with the banner text */
}
.search-button:hover {
  background-color: #6daecf; /* Darker shade for hover effect */
}

.tabs a:hover {
  animation: rainbow 2s linear infinite;
  color: transparent; /* To hide the text color */
  background-clip: text;
  -webkit-background-clip: text;
}

@keyframes rainbow {
  0% {
    background-color: red;
  }
  16% {
    background-color: orange;
  }
  33% {
    background-color: yellow;
  }
  50% {
    background-color: green;
  }
  66% {
    background-color: blue;
  }
  83% {
    background-color: indigo;
  }
  100% {
    background-color: violet;
  }
}

.custom-button {
  font-family: "Comfortaa";
  padding: 8px 16px;
  border: 2px solid #8ecae6;
  border-radius: 20px;
  margin-top: 30px;
  font-size: 0.9em;
  font-weight: lighter;
  outline: none;
  width: auto;
}

.custom-button + .custom-button {
  margin-left: 10px;
}

.custom-button:hover {
  animation: rainbow 2s linear infinite;
  color: transparent; /* To hide the text color */
  background-clip: text;
  -webkit-background-clip: text;
}
