
<div class="footer-content">
      <p class="footer-text">Need more magic in your life? Rent a unicorn today!</p>
      <div class="social-icons">
          <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
      <p class="footer-text">© 2024 Unicorn Rentals Inc. | <a href="/privacy-policy">Privacy Policy</a></p>
  <div class="footer-unicorn">
       <%= image_tag "logo_uniqorn_without_text.png", alt: "Logo", class: "footer-logo" %>
  </div>
  </div>
