<div class="banner h-100">
  <h1 class="banner-text">Unique Unicorns for Rent</h1>
  <div class="search-bar">
    <input type="text" class="search-input" placeholder="Where">
    <input type="date" class="search-input">
    <input type="number" class="search-input" placeholder="How Many">
    <button class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
  </div>
  <% unless user_signed_in? %>
    <div class="d-flex">
    <%= link_to "Log In", new_user_session_path, class: "btn m-4 btn-lg custom-button" %>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn m-4 btn-lg custom-button" %>
  <% end %>
  </div>
</div>
