<body class="vh-100">
  <div class="banner h-100">
    <h1 class="banner-text">Unique Unicorns for Rent</h1>
      <div class="search-bar">
          <input type="text" class="search-input" placeholder="Where">
          <input type="date" class="search-input">
          <input type="number" class="search-input" placeholder="How Many">
          <button class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
  </div>
</body>
</html>
