<div class="container">
  <div class="mb-5 d-flex flex-column justify-content-center">
    <div class="my-4 d-flex  justify-content-center">
      <h1>Booking requests</h1>
    </div>
    <% 10.times do %>
      <div class="d-flex justify-content-center">
        <div class="card-product w-50 mb-4">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuZIvadmq4OEXE0kFfQvXE694-kCfr45OW6w&s"
          />
          <div class="d-flex justify-content-between w-100 me-3">
            <div class="card-product-infos">
              <h2>Uniqorn name</h2>
              <p class="fs-5 fw-semibold">02.06.2024 - 13.06.2024</p>
            </div>
            <div>
              <p class="fs-5 fw-semibold"><strong class="fs-4">Total:
                </strong>99.00$</p>
              <div class="d-flex justify-content-evenly mt-2">
                <%= link_to () do %>
                  <svg
                    class="rounded-circle p-1"
                    style="background-color: #39efa3; height: 26px; width: 26px"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512"
                  ><!--!Font Awesome Free 6.5.2 by @fontawesome -
                    https://fontawesome.com License -
                    https://fontawesome.com/license/free Copyright 2024
                    Fonticons, Inc.--><path
                      d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"
                    /></svg>
                <% end %>
                <%= link_to () do %>
                  <svg
                    class="rounded-circle p-1"
                    style="background-color: #FF9A9E; height: 26px; width: 26px"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 384 512"
                  ><!--!Font Awesome Free 6.5.2 by @fontawesome -
                    https://fontawesome.com License -
                    https://fontawesome.com/license/free Copyright 2024
                    Fonticons, Inc.--><path
                      d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
                    /></svg>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
