<div class="container w-75">
  <div class="p-2">

    <%= simple_form_for [ @booking, @review] do |f| %>
      <div class="form-inputs ">
        <%= f.input :content, :placeholder => "Content" %>
      </div>
      <div class="form-inputs">
        <%= f.input :rating, collection: %i(1 2 3 4 5) %>
      </div>

      <div class="form-actions btn btn-lg custom-button">
        <%= f.button :submit, "Leave a review!" %>
      </div>

    <% end %>

  </div>
</div>
